<div class="row">
    <div class="col-md-12">
    <h1 >Estudiantes del curso: <strong class="text-capitalize"> <%=@curso.nombre%></strong></h1>
      <div class="card shadow-lg">
            <div class="card-body">
            <div class="box">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="thead-dark" >
                            
                            <th>Identificacion</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                                
                        </tr>


                        <tr>
                            <% @users.each do |user| %>
                            <td>
                                <%= user.identifiacion%>
                            </td>
                            <td>
                                <%= user.nombres%>
                            </td>

                            <td>
                                <%= user.apellidos %>
                            </td>
                            
                        </tr> 
                        <%end %>

                    </table>

                    
                </div>
            
            </div>
        </div>    
    </div>
</div>    
