<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="box">
          <%= simple_form_for [@materia, @nota]  do |f| %>
            <%= f.input :logro %>
            <%= f.input :nota %>
            <%= f.button :submit, class:"btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>